*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
    margin: auto;
    height: auto;
}
header{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font: bold;
} 
h2{
    margin: 10px;
}

body{
    height: 100vh;
}
.heading{
    text-transform: uppercase;
}
h2{
    text-align: center;
    text-transform: capitalize;
}
.card-title{
    text-transform: uppercase;
    text-align: center;
}
.bronze, .silver, .gold, .complex {
    display: flex;
    margin: 50px;
    border:10px;
    height: fit-content;
}

h5, p, .price{
    color: white;
}
.card-text{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.price{
    color: white;
    text-align: center;
}
.btn1{
    padding: 40px;
    border-radius: 60%;
}
button{
    background-color: rgb(56, 151, 211);
    border-color: whitesmoke;
}
.gold-btn, .premier-btn{
    background-color: black;
}

/* .bronze:hover, .silver:hover, .gold:hover, .complex:hover{
    color: brown;
    size-adjust: 100%;
} */


/* .text-muted{ 
    color: whitesmoke;
} */
.basic-btn, .dynamic-btn, .premier-btn, .complex-btn{
    padding: 40px;
    border-radius: 60%;
}