 @
header{
    /* height: 3vh !important; */
     height: 80px !important;
}

.container{
    width: 50%;
    height: auto;
    display: flex;
    background-color: grey;
    /* align-items: center; */
}

.webimage{
   width: 60%;
   height: 110%;
}

.nav_menu{
    background-color: rgb(184, 7, 7);
    z-index: 999
}
.dropOpacity{
    background-color: rgb(160, 39, 39) !important;
}


.form-section{
    display: flex;
    flex-basis: 48%;
  
}
.float-left{
    position: absolute;
    top: 10%;
    left: 0px;
    right: auto;
}
.float-right{
    position: absolute;
    top: 15%;
    right: 0px;
    left: auto;
}






/* .Message{
position: absolute;
right: 0;
left: 0;
bottom: 80%;
min-width: 300px;
top: 20%;
 }  */

 label{
    text-transform: capitalize;
 } 
 /* .details{
    position: flex;
    top: 40%;
    bottom: 60%;
    left: 60%;
}
.EmailAddress{
    position: flex;
    margin: 10px; 
    right: 0%;
    left: auto;
    min-width: 100px;
}

.services{
    position: flex;
    right: 0%;
    left: 60%;
}
 .help:hover{
    color: red;
 }  */


.FirstName, .SecondName, .company, .EmailAddress, .services{
    position: relative;
    display: flex;
    flex-basis: auto;
    flex: 1 30px;
}
