* {
    color: #000;
    /* background-color: #ffd; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
}

body {
    /* height: 100vh; */
}

h1 {
    font-size: 2rem;
    letter-spacing: 1px;
}

h2{
    color: #0d98a1;
    text-align: center;
    text-transform: capitalize;
}

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
    text-decoration-skip: edges;
}

p {}

/* .content {
    height: 100vh;
    background-color: transparent;
    width: 100%;
} */

header {
    /* background-color: rgb(201, 101, 201); */
    width: 100%;
    height: 100vh;
    /* padding: 5px; */
    /* background-image: url(images/pexels-tranmautritam-326501.jpg); */
    background-repeat: no-repeat;
    background-size: cover;

}

header .top-nav h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: purple;
}

header.top-nav ul {
    justify-content: center;
    overflow: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.dropdown, .current{
    margin: 10px;
    text-decoration-skip: edges;
    float: left;
    list-style-type: none;
    text-color: white;
}

header .top-nav li a {
    color: white;
    text-decoration: none;
}


/* main body */
/* 
main {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    position: relative;
} */
/* 
.major_section {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    /* z-index: 1;
} */

/* .overlay { 
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* z-index: 5; */
    /* background-image: url(/images/backgroundimage.jpeg);
    background-size: cover;
    background-position: fixed;
    opacity: .5;
} */

.main_navigation {
    flex-basis: 33%;
    border: 15px;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    background: transparent;
}

#neonText {
    color: rgb(47, 105, 109);
    text-shadow: 0 0 7px #fff, 0 0 10px rgb(255, 255, 255), 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.main_navigation h1 {
    margin-top: 0rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-family: cursive;
    text-decoration: underline;
    -ms-text-underline-position: under;
    text-align: center;
    text-rendering: auto;
}

.main_navigation h2 {
    margin-top: inherit;
    margin-bottom: inherit;
    text-align: center;
}

footer {
    justify-content: center;
    overflow: auto;
    display: flex;
    list-style-type: none;
}

.footer_section {
    text-decoration-style: none;
}

.footer_left_col {
    text-decoration: none;
    float: left;
    margin: 10px;
    border: initial;
    padding: 10px;
}

footer li a {
    text-decoration: none;
    margin: 10px;
}

footer ul i {
    margin: 10px;
    border: initial;
    padding: 10px;
    float: right;
    text-overflow: hidden;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

header ul li {
    float: left;
    border-radius: 20px;
}

header ul li a,
.dropbtn {
    display: inline-block;
    color: rgb(238, 232, 234);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.media-icons{
    cursor: pointer;
    display: flex;
    /* padding: 1px; */
    position: absolute;
    right: 0px;
    left: auto;

  
}

.icon{
    size: 2px;
    /* position: relative; */
    /* display: inline; */
    /* justify-content: space-between; */
    /* right: 0px; */
    margin: 5px;
    border: inherit;
    /* padding: 5px; */
    
}

.icon img:hover{
    border-radius: 25px;
    background-color: whitesmoke;
}
.nav_menu a:hover,
.dropdown:hover{
    /* display: flex; */
    /* background-color: rgba(5, 143, 143, 0.651); */
    border-radius: 30px;
    height: auto;
    width: auto;
    text-decoration: underline;
    color: #000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: fixed;
    background-color:rgba(146, 37, 37, 0.651);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(43, 17, 17, 0.2);
    /* z-index: 9999; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #0d98a1;
    border-radius: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_menu {
    overscroll-behavior-x: none;
    display: static;
    position: fixed;
    align-items: center;
    box-shadow: 0 0 25px 0 transparent;
}

/* start */

.container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(50%); */
}

.container-item{
    display: flex;
}

.button{
    width: 150px;
    height: 50px;
    background-color: rgba(196, 36, 36, 0.678);
    border-radius: 25px ;
    border: 0px;
}

.button:hover {
    size-adjust: 3px;
    background-color: rgb(4, 191, 238);
    justify-content: space-between;
}

.catch_phrase{
    text-transform: capitalize;
    font-size: 30px;
}

.priority{
    text-transform: uppercase;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
/* ends  */

/* start */
.wrapper{
    width: 100%;
    /* position: relative; */
    padding: auto;
}


.services{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.container-item h4{
    color: rgb(13, 14, 13);
    font-weight: 100;
    font-size: 20px;
    text-transform: capitalize;
    margin: 5px;

}

.container-item img{
    border: 1px solid;
    border-radius: 3px;
    padding: 4px;
    width: 45px;
    height: 50px;
    color:#0fa;
}

.container-item img:hover {
    background-color: rgb(4, 191, 238);
    border-radius: 10px;
    /* size-adjust: 40px; */
}
.bottom{
    display: flex;
    position: absolute;
    top: 90%;
    bottom: 0%;
}
/* ends */
/* top icons styles */
.icon img{
    border-radius: 10px solid;
    padding: 1px;
    /* width: 30px; */
    height: 30px;
}
