* {
    color: #000;
    /* background-color: #ffd; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
}

body {
    /* height: 100vh; */
}

h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h2 {
    color: #0d98a1;
    text-align: center;
    text-transform: capitalize;
}

li {
    text-decoration: none;
    text-decoration-skip: edges;
}

.header-wrapper{
    display: flex;
    position: relative;
    top: 0px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.header-overlay{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/pexels-christina-morillo-1181243.jpg);
    background-position: center;
    background-size: cover;
    opacity: .45;
}

header .top-nav{
   background-color: rgba(207, 9, 9, 0.945);
   width: 100%; 
   height: 150px;
}

header .top-nav h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: purple;
}

header .top-nav ul {
    justify-content: center;
    overflow: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.dropdown, .current {
    margin: 10px;
    text-decoration-skip: edges;
    float: left;
    list-style-type: none;
}

header .top-nav li a {
    color: white;
    text-decoration: none;
}


#neonText {
    color: rgb(47, 105, 109);
    text-shadow: 0 0 7px #fff, 0 0 10px rgb(255, 255, 255), 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

header ul li {
    float: left;
    border-radius: 20px;
} 

header ul li a,
.dropbtn {
    display: inline-block;
    color: rgb(238, 232, 234);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.media-icons {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 10px;
}

.icon {
    size: 2px;
    margin: 5px;
    border: inherit;
}

.icon img:hover {
    border-radius: 25px;
    background-color: whitesmoke;
}

.nav_menu a:hover,
.dropdown:hover {
    /* display: flex; */
    /* background-color: rgba(5, 143, 143, 0.651); */
    border-radius: 30px;
    height: auto;
    width: auto;
    text-decoration: underline;
    color: #000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: fixed;
    background-color: rgba(146, 37, 37, 0.651);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(43, 17, 17, 0.2);
    /* z-index: 9999; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #0d98a1;
    border-radius: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_menu {
    overscroll-behavior-x: none;
    align-items: center;
    box-shadow: 0 0 25px 0 transparent;
}



.button {
    width: 150px;
    height: 50px;
    background-color: rgba(196, 36, 36, 0.678);
    border-radius: 25px;
    border: 0px;
}

.button:hover {
    size-adjust: 3px;
    background-color: rgb(4, 191, 238);
    justify-content: space-between;
}

.catch_phrase {
    text-transform: capitalize;
    font-size: 30px;
}

.priority {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

/* ends  */

/* start */
.wrapper {
    width: 100%;
    padding: auto;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.container-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.container-bottom {
    display: flex;
    position: absolute;
    top: 90%;
    bottom: 0%;
}

.container-item {
    display: flex;
}

.services {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.container-item h4 {
    color: rgb(13, 14, 13);
    font-weight: 100;
    font-size: 20px;
    text-transform: capitalize;
    margin: 5px;

}

.container-item img {
    border: 1px solid;
    border-radius: 3px;
    padding: 4px;
    width: 45px;
    height: 50px;
    color: #0fa;
}

.container-item img:hover {
    background-color: rgb(4, 191, 238);
    border-radius: 10px;
    /* size-adjust: 40px; */
}



/* ends */
/* top icons styles */
.icon img {
    border-radius: 10px solid;
    padding: 1px;
    /* width: 30px; */
    height: 30px;
}

/* price banners */
.main-body-wrappper{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.packages{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.packages h1, .main-body-wrappper h1{
    margin-top: 10px;
    text-align: center;
    /* display: block; */
}

.card-group{
    width: auto;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 18%;
    display: flex;
    background-color: #1e90ff;
    padding: 15px;
    justify-content: center;
}

.card-body{
    /* width: 25%; */
}

.card-body h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

.card-body ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body .price_butt{
    width: 100px; height: 100px; border-radius: 50%; border: 0px;
}
/* .content{
    margin-top: 0px;
    top: 0px;
} */


